<div style="background-color: aquamarine;  padding: 10px ;">
    <h1>iklim farkındalığı</h1>
    <p>iklim değişikliği artık büyük bir sorun oldu.</p>
    <p> insanlarda bunun hakkında yeterince önlem almıyor</p>
    <p>Peki bunun hakkında önlem almazsak ne kadar</p>
</div>
    <h1>önlem olarak ne alabiliriz</h1>
    <p>Fosil yakıt kullanımını azaltmak</p>
    <p>Toplu taşıma ve bisiklet kullanmak</p>
    <p>Geri dönüşüm yapmak ve atık azaltmak</p>
    <p>Enerji tasarrufu sağlamak</p>
<img src="grafikiklim.jpg" alt="iklim değişikliği">


    